/* Basic */

    html, body {
        height: 100%;
        margin: 0;
    }
    
    body {
        background: white;
    }
    
    body, input, select, textarea {
        color: #6e6e6e;
        font-family: 'Raleway', sans-serif;
        font-size: 11pt;
        font-weight: 400;
        line-height: 1.75em;
        -webkit-text-stroke: 0.3px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    :lang(ko) 
    {
        font-family: 'Nanum Gothic', Gulim;
    }
    
    .container {
        padding: 3em 0 3em 0;
        height: calc(100% - 6em);
        background: #FFFFFF;
    }
    
    .swiper-slide {
        height: 100%;
    }
    
    #map-canvas {
        margin: 0;
        height: 50%;
        z-index:30;
    }
    
    .list-block {
        margin: 0; 
        overflow-y: auto; 
        height: 50%;
    }
    
    .statusbar-overlay {
        background: #08C35D;
    }

/* Badge Slides (1st page) */

    .badge-card {
        background: #f6f6f6;
        width: 90%;
        height: 90%;
        border-radius: 8px;
        margin: auto;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    img.badgeSlide {
        display: block;
        margin: 0 auto;
        max-width: 454px;
        max-height: 60%;
        height: 60%;
    }
    
/* Map & Search Page (2nd page) */

    .item-title {
        line-height: 1.4em;
    }    
    
    .item-title p {
        margin: 0;
    }
    
    .item-title p.discountCaption {
        background: url('images/tag.png') left center no-repeat;
        background-size: 1em;
        padding-left: 1em;
        font-size: 0.7em;
        line-height: 1em;
    }
    
    .item-title p.discountCaption2 {
        background: url('images/tag2.png') left center no-repeat;
        background-size: 1em;
        padding-left: 1em;
        font-size: 0.7em;
        line-height: 1em;
    }
    
/* Upper sidebar */
    
    #navBar {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        z-index: 50;
        min-height: 3em;
        width: 100%;
        background: #08c35d;
        border-bottom: solid 1px rgba(255,255,255,0.05);
    }
    
    #sidePanelToggle {
        position: absolute;
        right: 0;
        top: 0;
        width: 4em;
        height: 3em;
        background: rgba(255,255,255,0) url('images/toggle.svg') center center no-repeat;
        /*margin: 0.25em;*/
        border-radius: 0.267em;
        text-decoration: none;
        font-weight: 600;
        color: #222729;
        /*border: solid 1px #222729;*/
        cursor: pointer;
        z-index: 100;
    }
    
    #homeButton {
        background: url('images/gaia_logo.png') center center no-repeat;
        background-size: 6em auto;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
        width: 6em;
        height: 3em;
        /*margin: 0.25em;*/
        border-radius: 0.267em;
        text-decoration: none;
        font-weight: 600;
        color: #FFFFFF;
        /*border: solid 1px #222729;*/
        cursor: pointer;
        line-height: 3em;
        text-align: center;
        z-index: 100;
    }
    
        #homeButton a {
            border-bottom: 0;
            -moz-transition: none;
            -webkit-transition: none;
            -o-transition: none;
            -ms-transition: none;
            transition: none;
            outline: 0;
        }
        
            #homeButton a:hover {
                color: inherit;
            }

            
/* Lower Sidebar */

    #indiBar {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
        z-index: 40;
        height: 3em;
        width: 100%;
    }
    
    #badgePageButton {
        background: url('images/badge.png') center center no-repeat;
        background-size: auto 1.5em;
        position: absolute;
        pointer-events:none;
        left: 0;
        bottom: 0;
        margin: 0;
        z-index: 50;
        height: 3em;
        width: 25%;
    }
    
    #mapPageButton {
        background: url('images/search.png') center center no-repeat;
        background-size: auto 1.4em;
        position: absolute;
        pointer-events:none;
        left: 25%;
        bottom: 0;
        margin: 0;
        z-index: 50;
        height: 3em;
        width: 25%;
    }
    
    #videoPageButton {
        background: url('images/camera.png') center center no-repeat;
        background-size: 1.8em auto;
        position: absolute;
        pointer-events:none;
        left: 50%;
        bottom: 0;
        margin: 0;
        z-index: 50;
        height: 3em;
        width: 25%;
    }
    
    #profilePageButton {
        background: url('images/3dot.png') center center no-repeat;
        background-size: 1.8em auto;
        position: absolute;
        pointer-events:none;
        left: 75%;
        bottom: 0;
        margin: 0;
        z-index: 50;
        min-height: 3em;
        width: 25%;
    }
